doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/webix/codebase/skins/compact.min.css')
    link(rel='stylesheet', href='/stylesheets/design.css')
    <script type="text/javascript" src="/webix/codebase/webix.js"></script>
  body
    block content
